.Rapp.history
.Rhistory
*~
/tests
/data
data/
*.csv
*.sublime-project
*.sublime-workspace
specdata/
01_DataScientist_toolbox
/Assignment3_data
*.pdf
*.zip
*.out
.httr-oauth
*.png
Instructions.md
UCI HAR Dataset/
/figure
rsconnect/
figure-html/
*_cache/
*.html
*.csv.bz2