.Rapp.history
.Rhistory
*~
/tests
/data
data/
*.csv
*.sublime-project
*.sublime-workspace
specdata/
01_DataScientist_toolbox
/Assignment3_data
*.pdf
*.zip
*.out
.httr-oauth
*.png
Instructions.md
UCI HAR Dataset/
/figure
figure/
rsconnect/
figure-html/
*.html
*.csv.bz2
courses/

# Session Data files
.RData

# RStudio files
.Rproj.user/

# knitr and R markdown default cache directories
/*_cache/
/cache/
*_cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md